root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
# ktlint_code_style = android_studio
max_line_length = 120
indent_size = 4
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true

[*.{yml,yaml}]
indent_size = 2