*.iml
.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/misc.xml
/.idea/gradle.xml
/.idea/vcs.xml
app/libs/
app/src/test/
app/google-services.json
