<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="al.ahgitdevelopment.municion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginPasswordActivity"
            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".FragmentMainActivity"
            android:label="@string/title_activity_fragment_main"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GuiaFormActivity"
            android:label="@string/title_nueva_guia"></activity>

        <activity
            android:name=".CompraFormActivity"
            android:label="@string/title_nueva_compra"></activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>

    </application>

</manifest>
