<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="al.ahgitdevelopment.municion">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--android:supportsRtl="true"-->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_3_light"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BarTheme"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".FragmentMainActivity"
            android:exported="true"
            android:label="@string/title_activity_fragment_main">
        </activity>

        <activity
            android:name=".GuiaFormActivity"
            android:label="@string/title_nueva_guia"
            android:theme="@style/BarTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".CompraFormActivity"
            android:label="@string/title_nueva_compra"
            android:theme="@style/BarTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".LicenciaFormActivity"
            android:label="@string/title_nueva_licencia"
            android:parentActivityName=".FragmentMainActivity"
            android:theme="@style/BarTheme"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FragmentMainActivity"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/BarTheme"/>

        <receiver android:name=".NotificationPublisher"/>
    </application>

</manifest>
