<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <!--    <application>-->
    <!--        <activity-->
    <!--            android:name="al.ahgitdevelopment.municion.HiltTestActivity"-->
    <!--            android:exported="false"-->
    <!--            />-->
    <!--    </application>-->

</manifest>
